<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581396416734-t8c6hsnjnng97mckvbaad4tf3p17t3p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581396416734-t8c6hsnjnng97mckvbaad4tf3p17t3p9</string>
	<key>API_KEY</key>
	<string>AIzaSyBAtiqOsT-KA4t89jW9dl3B-2SwSh6tXhU</string>
	<key>GCM_SENDER_ID</key>
	<string>581396416734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impute.Autism</string>
	<key>PROJECT_ID</key>
	<string>autismtherapy-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>autismtherapy-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581396416734:ios:7ec6a47ab52c5f527ada4f</string>
</dict>
</plist>